<div class="container content-space-b-2 content-space-b-lg-3">
    <div class="row justify-content-md-between align-items-md-center mb-7">
      <div class="col-md-5 mb-5 mb-md-0">
        <!-- Tags -->
        <div class="d-md-flex align-items-md-center text-center text-md-start">
          <span class="d-block me-md-3 mb-2 mb-md-1">Tags:</span>
          <a class="btn btn-soft-secondary btn-xs rounded-pill m-1" href="javascript:;">Business</a>
          <a class="btn btn-soft-secondary btn-xs rounded-pill m-1" href="javascript:;">Health</a>
          <a class="btn btn-soft-secondary btn-xs rounded-pill m-1" href="javascript:;">Environment</a>
          <a class="btn btn-soft-secondary btn-xs rounded-pill m-1" href="javascript:;">Adventure</a>
        </div>
        <!-- End Tags -->
      </div>
      <!-- End Col -->

      <div class="col-md-5 col-lg-4">
        <form>
          <!-- Input Card -->
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search articles" aria-label="Search articles">
            <button type="button" class="btn btn-primary"><i class="bi-search"></i></button>
          </div>
          <!-- End Input Card -->
        </form>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class="row mb-7" *ngIf= "news?.length > 0">
      <!-- End Col -->
      <div class="col-sm-6 col-lg-4 mb-4" *ngFor= "let item of news" >
        <app-news-cards
        [uuid]= "item.uuid"
        [title]= "item.title"
        [description]= "item.description"
        [keywords]= "item.keywords"
        [snippet]= "item.snippet"
        [image_url]= "item.image_url"
        [url]= "item.url"
        [published_at]= "item.published_at"
        ></app-news-cards>
      </div>

      <div class="col-sm-6 col-lg-4 mb-4" *ngFor= "let item of news2">
        <app-news-cards
        [uuid]= "item.uuid"
        [title]= "item.title"
        [description]= "item.description"
        [keywords]= "item.keywords"
        [snippet]= "item.snippet"
        [image_url]= "item.image_url"
        [url]= "item.url"
        [published_at]= "item.published_at"
        ></app-news-cards>
      </div>

      <div class="col-sm-6 col-lg-4 mb-4" *ngFor= "let item of news3">
        <app-news-cards
        [uuid]= "item.uuid"
        [title]= "item.title"
        [description]= "item.description"
        [keywords]= "item.keywords"
        [snippet]= "item.snippet"
        [image_url]= "item.image_url"
        [url]= "item.url"
        [published_at]= "item.published_at"
        ></app-news-cards>
      </div>

    </div>
    <!-- End Row -->

    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">
              <i class="bi-chevron-double-left small"></i>
            </span>
          </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">
              <i class="bi-chevron-double-right small"></i>
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Pagination -->
  </div>